.user-card-out{
  margin-top: 3%;
  text-align: left !important;
  height: 56px;
  min-width: 250px;
  padding: 8px 13px;
  border-radius: 12px;
  background-color: #3473A3;
}

p {
  margin-bottom: 0;
}

.user-name {
  size: 14px !important;
  color: white;
}

.grr {
  size: 10px !important;
}


