<form #formMovimentacao="ngForm">
  <div class="form">
    <h1>{{title}}</h1>

    <ng-container *ngIf="tipoMovimentacao === TipoMovimentacao.DEPOSITO">
      <mat-form-field>
        <input matInput placeholder="Valor do depósito" type="number" [(ngModel)]="valor" name="valor">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="tipoMovimentacao === TipoMovimentacao.SAQUE">
      <div class="saldoMais">
        <p>Saldo da conta corrente + limite disponível:</p>
        <input matInput placeholder="Saldo da conta corrente + limite disponível" type="text" disabled [(ngModel)]="saldoContaCorrente" name="saldoContaCorrente" currencyMask [options]="CustomCurrencyMaskConfig" [readonly]="true">
      </div>
      <mat-form-field>
        <input matInput placeholder="Valor do saque" type="number" [(ngModel)]="valor" name="valor">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="tipoMovimentacao === TipoMovimentacao.TRANSFERENCIA">
      <div class="saldoMais">
        <p>Saldo da conta corrente + limite disponível:</p>
        <input matInput placeholder="Saldo da conta corrente + limite disponível" type="text" disabled [(ngModel)]="saldoContaCorrente" name="saldoContaCorrente" currencyMask [options]="CustomCurrencyMaskConfig" [readonly]="true">
      </div>
      <mat-form-field>
        <mat-label>Valor da Transferência</mat-label>
        <input matInput placeholder="Valor da transferência" type="number" [(ngModel)]="valor" name="valor">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Número da Conta Destino</mat-label>
        <input matInput placeholder="Número da conta corrente destino" type="number" name="numeroContaCorrenteDestino" [(ngModel)]="numeroContaCorrenteDestino">
      </mat-form-field>
    </ng-container>
  </div>
  <div class="btns">
    <button mat-raised-button (click)="movimentar()">Confirmar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
  </div>
</form>
