form .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
}

.btns {
    display: flex;
    margin-left: 30px;

    button {
        margin-right: 10px;

    }
}

.saldo {
    margin-bottom: 15px;
    background-color: gray;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 10px;
    color: white;

    :nth-child(1) {


        font-weight: bold;
    }
}

.saldoMais {
    margin-bottom: 15px;
    background-color: gray;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 10px;
    color: white;

    :nth-child(1) {


        font-weight: semi-bold;
    }

    p {
        font-size: 20px;
    }

    input {

        margin-bottom: 20px;
    }
}

.btns {
    button:nth-child(1) {
        background-color: #1A5280;
        color: white;
    }

    button:nth-child(2) {
        background-color: #801a1a;
        color: white;
    }
}