.full-input-field {
  width: 100%;
  margin: auto;
}
.half-input-field {
  width: 49%;
  margin: auto;
}

.small-input-field {
  width: 20%;
  margin: auto;
}

.third-input-field {
  width: 32%;
  margin: auto;
}

.two-thirds-input-field {
  width: 78%;
  margin:auto;
}

.right-input-field {
  margin-left:2%;
}
