<h2 mat-dialog-title>Autocadastro</h2>
<mat-dialog-content class="mat-typography">
  <form #formCliente="ngForm">
    <!-- Nome -->
    <mat-form-field class="full-input-field">
      <mat-label>Nome</mat-label>
      <input matInput type="text" name="nome" placeholder="Nome Completo" required minlength="2" [(ngModel)]="formData.nome">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="full-input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="formData.email">
    </mat-form-field>

    <!-- Celular -->
    <mat-form-field class="full-input-field">
      <mat-label>Celular</mat-label>
      <input matInput type="text" name="telefone" required placeholder="ex. (41)99999-9999" [(ngModel)]="formData.telefone">
    </mat-form-field>

    <mat-form-field class="half-input-field">
      <mat-label>CPF</mat-label>
      <input matInput type="text" name="cpf" required [(ngModel)]="formData.cpf">
    </mat-form-field>

    <!-- Salário -->
    <mat-form-field class="half-input-field right-input-field">
      <mat-label>Salário</mat-label>
      <input matInput type="number" name="salario" required [(ngModel)]="formData.salario">
    </mat-form-field>

    <!-- Endereço -->
    <mat-form-field class="small-input-field">
      <mat-label>Tipo</mat-label>
      <mat-select name="tipo" [(ngModel)]="formData.tipo">
        <mat-option *ngFor="let t of tipo" [value]="t">
          {{t}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="two-thirds-input-field">
      <mat-label>Logradouro</mat-label>
      <input matInput type="text" name="logradouro" required [(ngModel)]="formData.logradouro">
    </mat-form-field>

    <mat-form-field class="third-input-field">
      <mat-label>Número</mat-label>
      <input matInput type="text" name="numero" required [(ngModel)]="formData.numero">
    </mat-form-field>

    <mat-form-field class="third-input-field right-input-field">
      <mat-label>Complemento</mat-label>
      <input matInput type="text" name="complemento" [(ngModel)]="formData.complemento">
    </mat-form-field>

    <mat-form-field class="third-input-field right-input-field">
      <mat-label>CEP</mat-label>
      <input matInput type="text" name="cep" required [(ngModel)]="formData.cep">
    </mat-form-field>

    <mat-form-field class="two-thirds-input-field">
      <mat-label>Cidade</mat-label>
      <input matInput type="text" name="cidade" required [(ngModel)]="formData.cidade">
    </mat-form-field>




    <mat-form-field class="small-input-field right-input-field">
      <mat-label>Estado</mat-label>
      <mat-select name="uf" [(ngModel)]="formData.uf">
        <mat-option *ngFor="let e of estado" [value]="e">
          {{e}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="autocadastrar(formCliente)"
          [disabled]="!formCliente.valid">Cadastrar</button>
</mat-dialog-actions>
