<div class="let-of-cards">
  <ng-container>
    <ng-container *ngIf="gerentes.length > 0">
      <app-rectangular-card *ngFor="let g of gerentes" [nome]="g.nome"
                            [firstLabel]="'Clientes'" [firstValue]="g.numeroClientes.toString()" [secondLabel]="'Saldo Positivo'" [secondValue]="g.saldoPositivoTotal.toString()" [thirdLabel]="'Saldo Negativo'" [thirdValue]="g.saldoNegativoTotal.toString()"
                            [showButton]="false" [showSecondButton]="false">
      </app-rectangular-card>
    </ng-container>
  </ng-container>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="gerentes.length || 0"></mat-paginator>
</div>
