<mat-dialog-content class="formulario">
  <form #formCliente="ngForm">
    <!-- Nome -->
    <mat-form-field class="full-input-field">
      <mat-label>Nome</mat-label>
      <input matInput type="text" name="nome" placeholder="Nome Completo" minlength="2" [(ngModel)]="formData.nome" required>
      <mat-error>O nome é obrigatório e deve ter pelo menos 2 caracteres</mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="full-input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="formData.email" required>
      <mat-error>O email é obrigatório</mat-error>
    </mat-form-field>

    <!-- Celular -->
    <mat-form-field class="full-input-field">
      <mat-label>Celular</mat-label>
      <input matInput type="text" name="telefone" placeholder="ex. (41)99999-9999" [(ngModel)]="formData.telefone" mask="(00)00000-0000" required>
      <mat-error>O celular é obrigatório!</mat-error>
    </mat-form-field>

    <!-- CPF -->
    <mat-form-field class="half-input-field">
      <mat-label>CPF</mat-label>
      <input matInput type="text" name="cpf" [(ngModel)]="formData.cpf" mask="000.000.000-00" [readonly] required>
      <mat-error>O CPF é obrigatório!</mat-error>
    </mat-form-field>

    <!-- Salário -->
    <mat-form-field class="half-input-field right-input-field">
      <mat-label>Salário</mat-label>
      <input matInput type="text" name="salario" [(ngModel)]="formData.salario" currencyMask required>
      <mat-error>O salário é obrigatório</mat-error>
    </mat-form-field>

    <!-- Endereço -->
    <div class="logradouroCl">
      <mat-form-field class="tipo">
        <mat-label>Tipo</mat-label>
        <mat-select name="tipo" [(ngModel)]="formData.tipo" required>
          <mat-option *ngFor="let t of tipo" [value]="t">
            {{t}}
          </mat-option>
        </mat-select>
        <mat-error>O tipo de endereço é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="logradouro">
        <mat-label>Logradouro</mat-label>
        <input matInput type="text" name="logradouro" [(ngModel)]="formData.logradouro" required>
        <mat-error>O logradouro é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="numero">
        <mat-label>Número</mat-label>
        <input matInput type="text" name="numero" [(ngModel)]="formData.numero" required>
        <mat-error>O número é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div class="logradouroPt2">
      <mat-form-field class="complemento">
        <mat-label>Complemento</mat-label>
        <input matInput type="text" name="complemento" [(ngModel)]="formData.complemento">
      </mat-form-field>

      <mat-form-field class="cep">
        <mat-label>CEP</mat-label>
        <input matInput type="text" name="cep" [(ngModel)]="formData.cep" mask="00000-000" required>
        <mat-error>O CEP é obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field class="cidade">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" name="cidade" [(ngModel)]="formData.cidade" required>
        <mat-error>A cidade é obrigatória</mat-error>
      </mat-form-field>

      <mat-form-field class="estado">
        <mat-label>Estado</mat-label>
        <mat-select name="uf" [(ngModel)]="formData.uf" required>
          <mat-option *ngFor="let e of estado" [value]="e">
            {{e}}
          </mat-option>
        </mat-select>
        <mat-error>O estado é obrigatório</mat-error>
      </mat-form-field>
    </div>

    <!-- Senha -->
    <mat-form-field class="full-input-field">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha" name="senha" required minlength="8" (input)="verificarSenha()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!senhaValida && senha !== ''">A senha deve ter no mínimo 8 caracteres, incluindo uma letra maiúscula, uma minúscula, um número e um símbolo.</mat-error>
    </mat-form-field>

    <!-- Confirmar Senha -->
    <mat-form-field class="full-input-field">
      <mat-label>Confirmar Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmarSenha" name="confirmarSenha" required (input)="verificarSenha()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!senhaValida && confirmarSenha !== ''">As senhas devem coincidir.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="salvar(formCliente)">Salvar</button>
</mat-dialog-actions>
