<div class="let-of-cards">
  <mat-form-field>
    <mat-label>Pesquisar por CPF ou Nome</mat-label>
    <input matInput #input (keyup)="applyFilter($event)">
    <button mat-icon-button matSuffix (click)="searchCliente(input.value)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <ng-container *ngIf="usuarios.length > 0">
    <app-rectangular-card *ngFor="let c of usuarios"
                          [nome]="c.nome ? c.nome.toString() : ''"
                          [firstLabel]="'CPF'" [firstValue]="formatCPF(c.cpf)"
                          [secondLabel]="'Cidade'" [secondValue]="c.endereco.cidade + ' - ' + c.endereco.uf"
                          [thirdLabel]="'Saldo'" [thirdValue]="formatCurrency(c.conta.saldo.total)"
                          [nameButtonRect]="buttonOne" [showSecondButton]="false"
                          (clickButtonRect)="openDialog(c)">
    </app-rectangular-card>
  </ng-container>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="usuarios.length || 0"></mat-paginator>
</div>
