<div class="let-of-cards">
  <ng-container>
    <ng-container *ngIf="clientes.length > 0">
      <app-rectangular-card *ngFor="let c of clientes" 
                            [nome]="c.nome ? c.nome.toString() : ''"
                            [firstLabel]="'CPF'" 
                            [firstValue]="formatCPF(c.cpf)"
                            [secondLabel]="'Salário'" 
                            [secondValue]="formatCurrency(c.salario)"
                            [nameButtonRect]="buttonOne" 
                            [buttonColor]="firstButtonColor" 
                            [showSecondButton]="true" 
                            [nameSecondButtonRect]="buttonTwo" 
                            [secondButtonColor]="secondButtonColor" 
                            (clickButtonRect)="aprovarCliente(c)" 
                            (clickSecondButtonRect)="openDialog(c)">
      </app-rectangular-card>
    </ng-container>
  </ng-container>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="clientes.length || 0"></mat-paginator>
</div>
