<div class="data">
  <app-square-card></app-square-card>
  <div class="button-group">
    <button class="deposito" mat-fab extended (click)="movimentar(0)">
      <mat-icon>add</mat-icon>
      Depósito
    </button>
    <button class="saque" mat-fab extended (click)="movimentar(1)">
      <mat-icon>arrow_upward</mat-icon>
      Saque
    </button>
    <button class="transferencia" mat-fab extended (click)="movimentar(2)">
      <mat-icon>sync_alt</mat-icon>
      Transferência
    </button>
  </div>
</div>
