<div class="let-of-cards">
  <ng-container *ngIf="usuarios.length > 0">
    <app-rectangular-card *ngFor="let c of usuarios"
                          [nome]="c.nome ? c.nome.toString() : ''"
                          [firstLabel]="'CPF'" [firstValue]="formatCPF(c.cpf)"
                          [secondLabel]="'Cidade'" [secondValue]="c.endereco.cidade + ' - ' + c.endereco.uf"
                          [thirdLabel]="'Saldo'" [thirdValue]="formatCurrency(c.conta.saldo)"
                          [nameButtonRect]="buttonOne" [showSecondButton]="false"
                          (clickButtonRect)="openDialog(c)">
    </app-rectangular-card>
  </ng-container>
</div>
